.form { 
    display: flex;
    justify-content: center;
    height: calc(100vh - 120px);
    /*70px header + 50px footer*/

    padding: 16px;
}

.form__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 60%;
    width: 80%;
    padding: 8px;
    border-radius: 20px;
    /* border: 1px solid #3B7302; */
    background: #B6CCB633;
}

.form__input:hover,:focus {
    outline: none;
    box-shadow: inset 0px 0px 8px 0px #808080;
}

.form__input::placeholder {
    color: #808080;
}

.form__input {
    width: 50%;
    height: 32px;
    padding: 8px;

    border: 1px solid #3B7302;
    border-radius: 8px;
    background: transparent;
    font-size: 16px;
    text-align: center;
}




