.points {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;

    padding: 16px;
}

.points__title {
    width: 100%;
    text-align: center;
}

.points__wrapper {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 32px);
}
