.CardDescription {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 16px;
}

.CardDescription__title {
    width: 100%;
    text-align: center;
}

.CardDescription__block-description,
.CardDescription__block-accepted,
.CardDescription__block-notAccepted,
.CardDescription__block-prepare {
    width: 80vw;
    padding: 16px;
    margin: 16px;

    border: 1px solid black;
    border-radius: 16px;
}
.CardDescription__block-description {
    background-color: rgba(255, 251, 9, 0.199)
}

.CardDescription__block-accepted {
    background-color: rgba(9, 255, 50, 0.199)
}

.CardDescription__block-notAccepted {
    background-color: rgba(255, 9, 9, 0.199)
}

.CardDescription__block-title {
    width: 100%;
    text-align: center;
}

.CardDescription__block-text {
    width: 100%;
    text-align: justify;
}
