  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 70px;
    padding: 8px;
  
    font-size: 20px;
 
  &__link {
   text-align: center;

    &:active {
      outline: none;
      color: #6C9D03;
    }
  }

}

  @media screen and (min-width: 769px) and (max-width: 1440px) {

  }
  
  @media screen and (min-width: 320px) and (max-width: 768px) {

    .header {
      font-size: 16px;
    }
  }


