  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
  
    font-size: 20px;
  }
  
  .header__link {
    color: #000;
    text-decoration: none;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  }  

  .header__link:hover {
    outline: none;
    color: #3B7302;
  }
  
  .header__link:active {
    outline: none;
    color: #6C9D03;
  }

  /* .header__link:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid gray;

    box-shadow: none;
    color: #6C9D03;
  } */



