
.form { 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    padding: 10vh 10vw;

    background-image: linear-gradient(lightskyblue,lightgray);
    background-size: contain;
}

.form__block {
    display: flex;
    justify-content: center;
    
    width: 652px;
    height: 432px;
    padding: 16px;
    
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(2px);
    border-radius: 16px;
    /* color: white; */
    font-weight: bold;
}

.form__wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: stretch;

    width: 300px;
    height: 400px;
    padding: 16px;
    margin-right: 16px;

    text-align: center;
}

.form__wrapper > :not(:first-child):hover,:focus {
    outline: none;
    box-shadow: 0px 0px 2px 0px rgb(0, 0, 0) inset;
}



.form__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form__side-picture {
    width: 300px;
    background-image: linear-gradient(lightskyblue,lightgray);
    background-size: cover;
    border-radius: 8px;
}

.form__input {
    height: 32px;
    padding: 8px;

    background: none;
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

.form__input::placeholder {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    color: rgb(58, 58, 58);
    text-align: center;
}

.form__button {
    height: 32px;

    background-color: rgb(223, 223, 223);
    border: none;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}



